*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #0A0A0A;
   
}

.page{
    display: flex;
    flex-direction: row;
}

.logo h2{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    font-size: 35px;
    color: white;
    padding-top: 35px;
    padding-bottom: 25px;
    margin-left: 50px;
}

.poster img{
    margin-top: 55px;
    margin-left: 100px;
    border-radius: 20px;
    margin-right: 60px;
}

.info1, .info2{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    border: black;
    border-radius: 20px;
    background-color: #161618; 
    margin-right: 70px;
     padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 15px;
}

.info1 h2{
    font-size: 55px;
   margin-bottom: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
}

.info1 h4{
    width: 100%;
    font-size: 20px;
    border-color: black;
    background-color: #404040;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px;
}

.info1 ul{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.info1 p{
    margin-top: 40px;
    font-size: 20px;
    padding-left: 10px;
}

.info2 h3 {
    font-size: 25px;
     margin-bottom: 20px;
}

.info2 .rate p{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 300;
}

.info2 .rate button{
    font-size: 15px;
    padding: 5px;
    margin-right: 30px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
   
}
.rate button:hover{
    background-color: #B90E0A;
}

.rate{
    border-color: black;
    border-radius: 20px;
    background-color: #404040;
     padding: 10px;
    margin-bottom: 20px;
}

iframe {
    border-radius: 20px;
}

.booknow {
    display: flex;
    color: white;
    border: black;
    border-radius: 20px;
    margin: 50px 50px;
  background-color: #161618; 
    padding: 20px;
}

.booknow .info h3{
    margin-left: 20px;
    font-size: 35px;
}

.booknow .info h5 {
    margin-left: 20px;
    font-size: 20px;
}

.booknow button{
  margin-left: 880px;
    width: 200px;
    height: 70px;
   background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.booknow button:hover {
    background-color: #B90E0A;
}

.booknow button a{
    color: black;
    text-decoration: none;
}


.about{
       color: white;
    border: black;
     font-family: 'Nunito Sans', sans-serif;
    border-radius: 20px;
    margin: 50px 50px;
  background-color: #161618; 
    padding: 20px;
}
.about h4{
    font-size: 25px;
    color: whitesmoke;
    padding-bottom: 12px;
}
.about p{
    font-size: 20px;
}

.cast , .crew{
    color: white;
    border: black;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 20px;
    margin: 50px 50px;
    background-color: #161618; 
    padding: 20px;
}
.cast h4, .crew h4{
    font-size: 25px;
    color: whitesmoke;
    padding-bottom: 12px;
}

.cast .images, .crew .images {
    display: flex;
}

.cast img, .crew img{
    border: black;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin: auto;
}

.cast img alt, .crew img alt{
    color: whitesmoke;
    font-size: 15px;
}

.cast .names, .crew .names{
    margin-top: 7px;
    display: flex;
}
.cast .names p, .crew .names p{
    color: white;
    font-size: 18px;
    margin: auto;
}

.cast img, .crew img:hover{
    cursor: pointer;
}

.bar{
    display: flex;
}

 .bar {
    color: white;
    border: black;
    border-radius: 20px;
    margin: 20px 50px;
    background-color: #161618; 
    padding: 20px;
}

.date button{
    border: black;
    color: white;
    background-color: #404040;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 25px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.date button a{
        color: white;
      text-decoration: none;
}

.instr button{
    border: black;
    color: white;
    background-color: #404040;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    margin-left: 600px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.instr1 button{
    background-color: green;
}

.instr2 button{
    background-color: orange;
}

.theatres h4{
    color: white;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    margin-left: 55px;
}

.theatres .t1, .t2, .t3, .t4, .t5, .t6, .t7 {
    color: white;
    border: black;
     font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    margin: 30px 50px;
    background-color: #161618; 
    padding: 20px;
}

.theatres .t1 a, .t2 a, .t3 a, .t4 a, .t5 a, .t6 a, .t7 a {
    color: white;
    text-decoration: none;
  
}

.theatres .t1 button, .t2 button, .t3 button, .t4 button, .t5 button, .t6 button, .t7 button {
    float: right;
    cursor: pointer;
    margin-right: 20px;
    font-size: 15px;
    color:white;
    border: black;
    background-color: #404040;
    border-radius: 10px;
   padding: 7px;
}

.footer {
    display: flex;
    margin-top: 110px;
    box-sizing: border-box;
    background-color: #181818;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer .logo h2{
    margin-left: 200px;
    margin-right: 80px;
}

h4{
    font-size: 30px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: white;
   font-family: 'Lato', sans-serif;
}

.links a {
   padding-top: 80px;
    margin-right: 80px;
    font-size: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding-bottom: 20px;
}

.follow img{
    height: 50px;
    width: 50px;
}


.booktickets h3{
     margin-top: 40px;
     margin-bottom: 40px;
     margin-left: 80px;
     font-size: 34px;
     color: white;
     font-family: 'Prompt', sans-serif;
}


.A, .B, .C, .D, .E, .F, .G, .H{
     margin-left: 145px;
    margin-bottom: 20px;
    display: flex;
}

.A button, .B button, .C button, .D button, .E button, .F button, .G button, .H button{
    margin-right: 35px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    cursor: pointer;
    
}

.A button:hover, .B button:hover, .C button:hover, .D button:hover, .E button:hover, .F button:hover, .G button:hover, .H button:hover{
       background-color: #B90E0A;
}

.A button:focus, .B button:focus, .C button:focus, .D button:focus, .E button:focus, .F button:focus, .G button:focus, .H button:focus{
       background-color: green;;
}

.A h3, .B h3, .C h3, .D h3, .E h3, .F h3, .G h3, .H h3{
    color: white;
    margin-top: 5px;
    margin-right: 50px;
    font-size: 20px;
}

.X button{
    margin-top: 30px;
    height: 10px;
    width: 300px;
    margin-left: 540px;
}

.X h3{
    font-size: 20px;
    color: white;
    margin-left: 630px;
}

.book button {
    margin-top: 30px;
    height: 40px;
    width: 120px;
    margin-left: 630px;
    font-size: 25px;
     background-color: #404040;
    border-radius: 20px;
}

.book button a{
    text-decoration: none;
    color: white;
}